image:
  repository: foxmuldercp/go-todo-frontend
  pullPolicy: IfNotPresent
  tag: latest

service:
  port: 80

backend:
  service:
    port: 8080

resources:
  requests:
    cpu: "100m"
    memory: "0.1Gi"
  limits:
    cpu: "200m"
    memory: "0.2Gi"
